<form>
    <h1>EDITANDO CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput  type="text" name="nome" placeholder="Ex. Computaçao">
    </mat-form-field>     
    <mat-form-field class="form">
        <mat-label>Descricao</mat-label>
        <textarea matInput  type="text" name="descricao" placeholder="Ex. Livors de computaçao"></textarea>
    </mat-form-field> 
    
    <div class="buttons">
        <button  class="mat-elevation-z8" mat-stroked-button color="primary">EDITAR</button>
        <button  class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>

