.home{
    width: 95%;
    margin: 1rem auto auto;
}

@media(max-width: 450px){
    .home{
       width: 70%; 
    }
}

    @media(max-width: 760){
        .home{
           width: 80%; 
        }
    }
